.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .registration-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4A90E2;
  }
  
  .registration-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .input {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #4A90E2;
  }
  
  .register-btn,.login-btn{
    font-size: 1.2rem;
    padding: 12px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 4px;
  }
  
  .register-btn:hover {
    background-color: #357ABD;
  }
  .login-link-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-btn {
    font-size: 1.2rem;
    padding: 10px;
    background-color: #fff;
    color: #4A90E2;
    border: 2px solid #4A90E2;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #4A90E2;
    color: white;
  }
  