.subscribed-share-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  
  .input-search {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-btn, .request-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover, .request-btn:hover {
    background-color: #45a049; /* Darker green */
  }
  
  .error {
    color: #e74c3c; /* Red */
    text-align: center;
    margin: 10px 0;
  }
  
  .user-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .user-details h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .status-message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  